<h1 class="text-center mb-3">Admin words list of <%=  @category.name %> category</h1>
<h4 class="text-center"><%= @category.content %></h4>

<div class = "text-center new_cate_bt">
	<%= link_to "New words",new_admin_category_word_path,class: "btn btn-dark btn-lg" %>
</div>

<div class="paginate text-center">
	<%= will_paginate @words %>
</div>

<div class="container">
	<table class="table table-secondary">
		<thead>
			<tr>
		
				<th scope="col">Word</th>
				<th scope="col">Answer</th>
				<th scope="col">Settings</th>
			</tr>
		</thead>
		<tbody>
			<% @words.each do |word| %>
				<tr>
			
					<td><%= word.content %></td>
					<td><%= word.correct_answer %></td>
					<td><%= link_to "Edit",edit_admin_category_word_path(@category.id,word.id) %></td>
          <td><%= link_to "Delete",admin_category_word_path(@category.id,word.id),method: :delete %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<div>
<div class="text-center"><%= link_to "back",admin_categories_path,class: "btn btn-dark btn-sm backbtn" %></div>