<%= form_for @user do |f| %>
  
	<div class="form-group text-center">
    	<%= f.label :name %>
    	<%= f.text_field :name,class: "form-control" %>
  	</div>

  	<div class="form-group text-center">
    	<%= f.label :email %>
    	<%= f.email_field :email,class: "form-control" %>
  	</div>

  	<div class="form-group text-center">
    	<%= f.label :password %>
    	<%= f.password_field :password,class: "form-control" %>
  	</div>


  	<div class="form-group text-center">
    	<%= f.label :password_confirmation %>
    	<%= f.password_field :password_confirmation,class: "form-control" %>
  	</div>

  
  	<%= f.submit  btn_msg,class: "btn btn-success btn-block" %> 


<% end %>