<div class="container">
<h1>Current user profile</h1>
	<div class="row">
		<div class="col-4">
			<div class="card mb-3 bg-light">
				<div class="card-body text-center">
					<%= gravatar_for @user %>
					<h1><%= @user.name %></h1>
					<%= @user.email %><br>
					
					<div>
						
						<div class="row mt-3">
							<div class="col-6">
								<p>followings</p><strong><%= @user.following.count %></strong>
							</div>
							<div class="col-6">
								<p>followers</p><strong><%= @user.followers.count %></strong>
							</div>
						</div>
						
					</div>
					<div>
						<%= render "relationships/follow_button" %>
					</div>
				</div>
				

					<% if current_user.admin == true %>
						<%= link_to "Admin lesson",admin_home_path,class: "btn btn-success btn-lg" %>
					<% end %>
			</div>	

				<div class="text-center"><%= link_to "To the users list page",users_path,class: "btn btn-dark btn-sm backbtn" %></div>

		</div>


		<div class="col-8">
			<div class="card bg-light">
				<div class="card-body">
					<h2 class = "border-bottom pb-4 text-center">Activity</h2>
					<%= render 'shared/feed' %>
					
				</div>

			</div>

		</div>
	</div>
	
	
</div>