<div class="container">
	<div class="row">
		
		<div class="col-6 offset-3">
			<div class="row">
				<h1 class="mx-auto mt-5 mb-3 title"><%= @category.name %></h1>
			</div>
			<div class="row">
				<h5 class="mx-auto"><%= @lesson.words.count + 1 %>/<%= @category.words.count %></h5>
			</div>
			<div class="box text-center">
				<h1 class="text-center"><strong><%= @lesson.next_word.content %></strong></h1>
				<% @lesson.next_word.choices.each do |choice| %>
					<%= form_for([@lesson,@answer]) do |f| %>
						<%= f.hidden_field :word_id,value: choice.word_id %>
						<%= f.hidden_field :choice_id,value: choice.id %>
						<%= f.submit choice.content,class: "btn btn-light btn-lg w-50 ans_choice" %>
					<% end %>
				<% end %>
			</div>
		</div>
		
	</div>
</div>