<h1 class="text-center mb-3">Administer Categories</h1>

<div class = "text-center new_cate_bt">
	<%= link_to "New category",new_admin_category_path,class: "btn btn-dark btn-lg" %>
</div>

<div class="paginate text-center">
	<%= will_paginate @categories %>
</div>

<div class="container">
	<table class="table table-secondary">
		<thead>
			<tr>
		
				<th scope="col">Title</th>
				<th scope="col">Dscription</th>
				<th scope="col">Settings</th>
			</tr>
		</thead>
		<tbody>
			<% @categories.each do |category| %>
				<tr>
			
					<td><%= link_to category.name,"#" %></td>
					<td><%= category.content %></td>
					<td><%= link_to "Edit",edit_admin_category_path(category.id) %></td>
          <td><%= link_to "Delete","#" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<div>